openapi: 3.1.0
info:
  title: BRASA Public API
  version: 1.5.0
  description: Public discovery remains credential-free. Registered server-side consumers may send a bearer API key for scoped quota accounting. No endpoint in this document accepts GovID or private learner data.
servers:
  - url: https://api.brasa.world
paths:
  /v1/account/usage:
    get:
      operationId: getConsumerUsage
      summary: Read the authenticated consumer's current daily usage
      security: [{ ApiKey: [] }]
      responses:
        '200': { description: Consumer scopes and current UTC-day request count }
        '401': { description: Missing, invalid, or revoked API key }
        '429': { description: Daily consumer quota exceeded }
  /v1/content:
    get:
      operationId: listContent
      summary: List public BRASA content
      parameters:
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: locale, in: query, schema: { type: string } }
        - { name: pillar, in: query, schema: { type: string } }
        - { name: kind, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
      responses:
        '200': { description: Public content page, content: { application/json: { schema: { $ref: '#/components/schemas/ListResponse' } } } }
  /v1/content/{id}:
    get:
      operationId: getContent
      summary: Get one public content record
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Content record }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/education/lessons:
    get:
      operationId: listPublishedLessons
      summary: List a school's published lessons
      parameters:
        - { name: schoolId, in: query, required: true, schema: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9_-]{0,79}$' } }
        - { name: locale, in: query, schema: { type: string, default: en } }
        - { name: q, in: query, description: Case-insensitive title or summary search, schema: { type: string, maxLength: 100 } }
        - { name: offlineEligible, in: query, schema: { type: boolean } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, maximum: 100000, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 25 } }
      responses:
        '200': { description: Published lessons only, with page, limit, and hasMore metadata, content: { application/json: { schema: { $ref: '#/components/schemas/ListResponse' } } } }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/business/pathways:
    get:
      operationId: listBusinessPathways
      summary: List public business category pathways
      parameters:
        - { name: capability, in: query, schema: { type: string } }
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
      responses:
        '200': { description: Anonymous business pathways; not job or income promises }
        '400': { $ref: '#/components/responses/InvalidRequest' }
  /v1/business/experiences/{id}:
    get:
      operationId: getBusinessExperience
      summary: Get a multilingual action experience for one business pathway
      description: Informational, offline-eligible steps; never a job, income, financing, certification, or eligibility promise.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: locale, in: query, schema: { type: string, default: en } }
      responses:
        '200': { description: Four-step business pathway experience }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business/experiences/{id}/learning:
    get:
      operationId: listBusinessExperienceLearning
      summary: List published BRASA Open learning for one business pathway
      description: Anonymous, offline-eligible learning discovery without learner profiles or progress tracking.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: locale, in: query, schema: { type: string, default: en } }
      responses:
        '200': { description: Bounded published learning records }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business/experiences/{id}/preparation:
    get:
      operationId: listBusinessExperiencePreparation
      summary: List possible public-service wayfinding for one business pathway
      description: Informational catalog links that preserve source-review status and never provide legal advice or eligibility decisions.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: countryCode, in: query, schema: { type: string, default: CR, pattern: '^[A-Z]{2}$' } }
      responses:
        '200': { description: Bounded informational government-service links }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business/experiences/{id}/providers:
    get:
      operationId: listBusinessExperienceProviders
      summary: List verified provider records matched to one business pathway
      description: Current public records only; verification is not an endorsement, eligibility decision, or outcome guarantee.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 20, default: 12 } }
      responses:
        '200': { description: Bounded verified provider records with provenance and expiry }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business/providers:
    get:
      operationId: listVerifiedBusinessProviders
      summary: List verified and unexpired marketplace providers
      description: Informational records with provenance and expiry; verification is not an endorsement or outcome guarantee. Reports and operator actions remain within BRASA Business and are not gateway operations.
      parameters:
        - { name: category, in: query, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: capability, in: query, schema: { type: string, pattern: '^[a-z0-9-]{1,80}$' } }
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 20 } }
      responses:
        '200': { description: Public provider records, each with provenance and verification expiry }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/government/services:
    get:
      operationId: findGovernmentServices
      summary: Find informational civic-service links
      description: Results preserve source URLs and review state and do not determine eligibility.
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 100 } }
        - { name: page, in: query, schema: { type: string, maxLength: 100 } }
        - { name: countryCode, in: query, schema: { type: string, default: CR, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
      responses:
        '200': { description: Anonymous informational links }
        '400': { $ref: '#/components/responses/InvalidRequest' }
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      bearerFormat: BRASA API key
  schemas:
    ListResponse:
      type: object
      required: [data, meta]
      properties:
        data: { type: array, items: { type: object } }
        meta: { type: object }
    Error:
      type: object
      required: [error]
      properties: { error: { type: string } }
  responses:
    InvalidRequest: { description: Invalid public query, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    NotFound: { description: Record not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    Unavailable: { description: Bound service unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
