openapi: 3.1.0
info:
  title: BRASA Public API
  version: 1.1.0
  description: Public, credential-free discovery contracts. No endpoint in this document accepts GovID or private learner data.
servers:
  - url: https://api.brasa.world
paths:
  /v1/content:
    get:
      operationId: listContent
      summary: List public BRASA content
      parameters:
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: locale, in: query, schema: { type: string } }
        - { name: pillar, in: query, schema: { type: string } }
        - { name: kind, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
      responses:
        '200': { description: Public content page, content: { application/json: { schema: { $ref: '#/components/schemas/ListResponse' } } } }
  /v1/content/{id}:
    get:
      operationId: getContent
      summary: Get one public content record
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Content record }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/education/lessons:
    get:
      operationId: listPublishedLessons
      summary: List a school's published lessons
      parameters:
        - { name: schoolId, in: query, required: true, schema: { type: string, pattern: '^[a-zA-Z0-9][a-zA-Z0-9_-]{0,79}$' } }
        - { name: locale, in: query, schema: { type: string, default: en } }
        - { name: q, in: query, description: Case-insensitive title or summary search, schema: { type: string, maxLength: 100 } }
        - { name: offlineEligible, in: query, schema: { type: boolean } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, maximum: 100000, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 25 } }
      responses:
        '200': { description: Published lessons only, with page, limit, and hasMore metadata, content: { application/json: { schema: { $ref: '#/components/schemas/ListResponse' } } } }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/business/pathways:
    get:
      operationId: listBusinessPathways
      summary: List public business category pathways
      parameters:
        - { name: capability, in: query, schema: { type: string } }
        - { name: countryCode, in: query, schema: { type: string, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
      responses:
        '200': { description: Anonymous business pathways; not job or income promises }
        '400': { $ref: '#/components/responses/InvalidRequest' }
  /v1/government/services:
    get:
      operationId: findGovernmentServices
      summary: Find informational civic-service links
      description: Results preserve source URLs and review state and do not determine eligibility.
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 100 } }
        - { name: page, in: query, schema: { type: string, maxLength: 100 } }
        - { name: countryCode, in: query, schema: { type: string, default: CR, pattern: '^[A-Z]{2}$' } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50 } }
      responses:
        '200': { description: Anonymous informational links }
        '400': { $ref: '#/components/responses/InvalidRequest' }
components:
  schemas:
    ListResponse:
      type: object
      required: [data, meta]
      properties:
        data: { type: array, items: { type: object } }
        meta: { type: object }
    Error:
      type: object
      required: [error]
      properties: { error: { type: string } }
  responses:
    InvalidRequest: { description: Invalid public query, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    NotFound: { description: Record not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    Unavailable: { description: Bound service unavailable, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
